.btn-generate-card {
    position: fixed;
    bottom: 50px;
    right: 50px;

    cursor: pointer;
    border-radius: 8px;
    padding: 5px 8px;
    font: inherit;
    font-weight: 600;
    font-size: 20px;

    background-color: #f97316;
    color: #FFFFFF;
    box-shadow: #FFFFFF 0px 0px 8px;
    outline: none;
    border: none;
}

.confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #1E293B;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: #a3a3a3 0px 0px 20px;

    p {
        text-align: center;
    }

    div {
        display: flex;
        gap: 40px;

        &>* {
            cursor: pointer;
            border: 1px solid #FFFFFF;
            background-color: transparent;
            border-radius: 8px;
            padding: 3px 10px;
            outline: none;

            color: #FFFFFF;
            font: inherit;
            text-decoration: none;
        }

        a:nth-child(1) {
            background-color: green;
        }

        button:nth-child(2) {
            background-color: red;
        }
    }
}

.blur {
    filter: blur(5px);
}

@media (width < 1280px) {
    .btn-generate-card {
        bottom: 12px;
        right: 15px;

        border-radius: 4px;
        padding: 5px 8px;
        font-weight: 600;
        font-size: 18px;
    }
};